<ion-view view-title="Brand Stories">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="list half">
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <a ng-click="dashBoard()">
          <h2 class="custom-dark3">Video</h2>
          <img class="full-image" src="img/sansa-snowcastle3.jpg">
          </a>
        </div>
      </div>
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <h2 class="custom-dark1">Audio</h2>
          <img class="full-image" src="img/sansa-snowcastle3.jpg">
        </div>
      </div>
    </div>

    <div class="list half">
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <h2 class="custom-dark1">Images</h2>
          <img class="full-image" src="img/sansa-snowcastle3.jpg">
        </div>

      </div>
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <h2 class="custom-dark3">PDF</h2>
          <img class="full-image" src="img/sansa-snowcastle3.jpg">
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>

