<ion-view view-title="Brand Stories">
  <ion-content class="back_color1">

    <ion-list ng-repeat="brandstory in brandstorys" class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-50"><h2>{{brandstory.BRDS_NAME}}</h2></div>
          <div class="col col-offset-10 col-50"><p>{{brandstory.ADD_DATE}}</p></div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-url="{{brandstory.BRDS_YOUURL}}"></youtube-video>
          <!--<youtube-video class="embed-responsive-item" video-url="anotherGoodOne" player-vars="playerVars">
          </youtube-video>-->
        </div>
        <img  class="item-image" ng-src="{{brandstory.URL_URL}}">
        <div class="item">
          <p class="">{{brandstory.BRDS_DESC}}</p>
        </div>
      </div>
      <!--<ion-item class="card" ng-repeat="notification in notifications">
        <h2 style="background-color: white">{{notification.ADD_DATE}}</h2>
        <div class="card card-gallery item item-text-wrap">
          <div class="ink dark-bg">
            <h2 style="background-color: #a2a2a2">{{notification.NOTI_NAME}}</h2>
            <img class="item-thumbnail-left" ng-src="{{notification.URL_URL}}">
          </div>
          <div class="item" style="background-color: #dddddd">
            <p class="">{{notification.NOTI_DESC}}</p>L
          </div>
        </div>
      </ion-item>-->
    </ion-list>

    <!--<div class="list half">
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <a  href="#/app/brand_video">
          <h2 class="custom-dark3">Video <i class="icon ion-play"></i></h2>
          &lt;!&ndash;<img class="full-image" src="img/sansa-snowcastle3.jpg">&ndash;&gt;
          </a>
        </div>
      </div>
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <a  href="#/app/brand_audio">
          <h2 class="custom-dark1">Audio <i class="icon ion-music-note"></i></h2>

          &lt;!&ndash;<img class="full-image" src="img/sansa-snowcastle3.jpg">&ndash;&gt;
          </a>
        </div>
      </div>
    </div>

    <div class="list half">
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <a  href="#/app/brand_image">
          <h2 class="custom-dark1">Images <i class="icon ion-image"></i></h2>
          &lt;!&ndash;<img class="full-image" src="img/sansa-snowcastle3.jpg">&ndash;&gt;
          </a>
        </div>
      </div>
      <div class="card card-gallery item item-text-wrap">
        <div class="ink dark-bg">
          <a  href="#/app/brand_pdf">
          <h2 class="custom-dark3">PDF <i class="icon ion-document-text"></i></h2>
          &lt;!&ndash;<img class="full-image" src="img/sansa-snowcastle3.jpg">&ndash;&gt;
          </a>
        </div>

      </div>
    </div>-->
  </ion-content>
</ion-view>

