<ion-view view-title="Brand Stories Audios">
  <ion-content class="back_color1">
    <div class="padding">&nbsp;</div>
    <div class="list card" >
      <div class="item item-image">
        <div class="list half">
          <div class="card card-gallery item item-text-wrap">
            <a class="item item-icon-left" href="#">
              <div class="row">
                <div class="col"><i class="icon ion-music-note"></i></div>
                <div class="col">Name</div>
              </div>
            </a>
          </div>
          <div class="card card-gallery item item-text-wrap">
            <a class="item item-icon-left" href="#">
              <div class="row">
                <div class="col"><i class="icon ion-music-note"></i></div>
                <div class="col">Name</div>
              </div>
            </a>
          </div>
        </div>

        <div class="list half">
          <div class="card card-gallery item item-text-wrap">
            <a class="item item-icon-left" href="#">
              <div class="row">
                <div class="col"><i class="icon ion-music-note"></i></div>
                <div class="col">Name</div>
              </div>
            </a>
          </div>
          <div class="card card-gallery item item-text-wrap">
            <a class="item item-icon-left" href="#">
              <div class="row">
                <div class="col"><i class="icon ion-music-note"></i></div>
                <div class="col">Name</div>
              </div>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

