<ion-view view-title="Brand Stories Videos">
  <ion-content class="back_color1">
    <div class="padding">&nbsp;</div>
    <div class="list card" >
      <div class="item item-image">
        <!--
                    <img ng-src="{{video.snippet.thumbnails.high.url}}">
                    {{}}
        -->
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-url="anotherGoodOne"></youtube-video>
          <!--<youtube-video class="embed-responsive-item" video-url="anotherGoodOne" player-vars="playerVars">
          </youtube-video>-->
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>

