<ion-view view-title="Chanel Partner">
    <ion-content>
        <div class="padding">
            <button ng-click="news()" class="button button-block custom-dark1 ink">News</button>
            <button ng-click="productKnowledge()" class="button button-block custom-dark2 ink">Product Knowledge</button>
            <button ng-click="chooseChampion()" class="button button-block custom-dark3 ink">Choose Campaign</button>
            <button ng-click="notification()" class="button button-block custom-dark1 ink">Notification</button>
            <button ng-click="brandStories()" class="button button-block custom-dark2 ink">Brand Stories</button>
            <button ng-click="feedbackQuery()" class="button button-block custom-dark3 ink">Feedback & Query</button>
          <!--<button ng-click="dashBoard()" class="button button-block custom-dark3 ink">DashBoard</button>-->
        </div>
    </ion-content>
</ion-view>

