<ion-view view-title="Change Password">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        <div class="hero no-header flat">
            <div class="app-icon"></div>
        </div>
        <div class="list">
            <label class="item-input margn_top1"><input placeholder="Enter Current password" highlight-color="balanced" type="text" ng-model="data.password"></label>
            <label class="item-input margn_top1"><input placeholder="New Password" highlight-color="balanced" type="text" ng-model="data.password"></label>
            <label class="item-input margn_top1"><input placeholder="Confirm Password" highlight-color="balanced" type="text" ng-model="data.conPassword"></label>
        </div>
        <button ng-click="changePassword()" class="button button-full button-assertive ink">Submit</button>
    </ion-content>
</ion-view>
