<ion-view view-title="Choose Campaign">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="tabs tabs-icon-top static">
      <p>Champion</p>
    </div>
    <!--<div class="row">
        <input type="radio" name="reading" value="0" id="reading_0" checked />
        <label for="reading_0">Very much</label>

        <input type="radio" name="reading" value="1" id="reading_1" />
        <label for="reading_1">Sometimes</label>
    </div>-->
    <label class="item item-input item-select">
      <div class="input-label">Choose Champion List</div>
      <select name="distributor" ng-model="retailer.distributor" required/>
      <option>A</option>
      <option selected>B</option>
      <option>C</option>
      </select>
    </label>
    <button ng-click="" class="button button-full button-assertive ink">Submit</button>

  </ion-content>
</ion-view>
