<ion-view view-title="Choose Champion">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="tabs tabs-icon-top static">
      <p>Champion</p>
    </div>
    <div class="list padding">
      <label class="item item-input item-select custom-dark3">
        <div class="input-label">Select Vehicle</div>
        <select name="bike" ng-model="bike" ng-change="choosebike(bike)" class="custom-dark2">
          <option class="custom-dark2" ng-repeat="bike in bikes" >{{bike.name}}</option>
        </select>
      </label>
      </div>
    <div class="card padding">
      <div class="row custom-dark3 ">
        <div class="col col-20 ">Bike Name :</div>
        <div class="col col-33">{{bikeDetails.REC_NAME}}</div>
      </div>
      <div class="row custom-dark3">
        <div class="col col-20 ">Bike Model :</div>
        <div class="col col-33">{{bikeDetails.REC_MODEL}}</div>
      </div>
      <div class="row custom-dark3">
        <div class="col col-20 ">Bike cc :</div>
        <div class="col col-33">{{bikeDetails.CC}}</div>
      </div>
      <div class="row custom-dark3">
        <div class="col col-20">Recommended Oil :</div>
        <div class="col col-33">{{bikeDetails.REC_RECOMMENDATION}}</div>
      </div>
      <!--<div class="row">
        <div class="col col-10">{{bikeDetails.REC_NAME}}</div>
        <div class="col col-10">{{bikeDetails.REC_MODEL}}</div>
        <div class="col col-10">{{bikeDetails.CC}}</div>
        <div class="col col-10">{{bikeDetails.REC_RECOMMENDATION}}</div>
      </div>-->
      <!--<div class="header col-box">
        <p style="text-align: center" class="custom-dark3"> Bike Name : {{bikeDetails.REC_NAME}}</p>
        <p> Bike Model : {{bikeDetails.REC_MODEL}}</p>
        <p> Bike cc : {{bikeDetails.CC}}</p>
        <p> Recommended Oil : {{bikeDetails.REC_RECOMMENDATION}}</p>

      </div>-->
      <hr>
      </div>
  </ion-content>
</ion-view>
