<ion-view view-title="Create Password">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="hero no-header flat">
      <div class="app-icon"></div>
      <div class="content"></div>
      <form name="createPassForm">
        <div class="list">
          <label class="item-input margn_top"><input placeholder="New Password" type="password" name="password" ng-model="createpass.password" required /></label>
          <label class="item-input margn_top"><input placeholder="Confirm Password" type="password" name="conPassword" ng-model="createpass.conPassword" required /></label>
        </div>
        <button ng-disabled="createPassForm.$invalid" class="button button-full custom-dark1 ink" ng-click="createNewPassword(createpass ,createPassForm)">Next</button>
        <div ng-show="createPassForm.$invalid">
          <p ng-show="createPassForm.password.$error.required && createPassForm.$dirty">Password required</p>
          <p ng-show="createPassForm.conPassword.$error.required && createPassForm.$dirty">Confirm Password</p>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
