<ion-view view-title="Welcome To Repsol">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>Customer Feedback Or Query</p>
        </div>
        <!--<div class="row">
            <input type="radio" name="reading" value="0" id="reading_0" checked />
            <label for="reading_0">Very much</label>

            <input type="radio" name="reading" value="1" id="reading_1" />
            <label for="reading_1">Sometimes</label>
        </div>-->
        <div class="row">
            <div class="col col-20"></div>
            <div class="col col-30"><input type="radio" name="reading" value="0" id="1" checked /> Feedback</div>
            <div class="col"><input type="radio" name="reading" value="1" id="2" /> Query</div>
        </div>
        <div class="list">
            <label class="item-input margn_top1"><input placeholder="Name" highlight-color="balanced" type="text" ng-model="data.name"></label>
            <label class="item-input margn_top1"><input placeholder="Mobile Number" highlight-color="balanced" type="text" ng-model="data.mobile"></label>
            <label class="item-input margn_top1"><input placeholder="Email" highlight-color="balanced" type="text" ng-model="data.email"></label>
            <label class="item-input margn_top1"><input placeholder="Query" highlight-color="balanced" type="text" ng-model="data.query"></label>
        </div>
        <button ng-click="login()" class="button button-full button-assertive ink">Submit</button>

    </ion-content>
</ion-view>
