<ion-view view-title="Distributor Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>My Profile</p>
        </div>
        <div class="list">
          <a class="item"><h2>Region :</h2></a>
          <a class="item"><h2>State :</h2></a>
          <!--<a class="item"><h2>Depot :</h2></a>-->
          <a class="item"><h2>City :</h2></a>
          <a class="item"><h2>Firm Name :</h2></a>
          <a class="item"><h2>Distributor Code :</h2></a>
          <a class="item"><h2>Distributor Name :</h2></a>
          <a class="item"><h2>Mobile Number 1 :</h2></a>
          <a class="item"><h2>Mobile Number 2 :</h2></a>
          <a class="item"><h2>Email Id :</h2></a>
          <a class="item"><h2>Date Of Birth :</h2></a>
          <a class="item"><h2>Date Of Anniversary :</h2></a>
        </div>

    </ion-content>
</ion-view>
