<ion-view view-title="Distributor Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>My Profile</p>
        </div>
        <div class="list">
            <!--<label class="item-input margn_top"><input placeholder="Partner ID" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="Name" type="text" ng-model="data.name" value=""/></label>
            <label class="item-input margn_top"><input placeholder="Distributor NameP" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="Mobile Number" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="Email Id" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="Address" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="Region" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="State" type="text" ng-model="data.opt" value=""/></label>
            <label class="item-input margn_top"><input placeholder="City" type="text" ng-model="data.opt" value=""/></label>
-->
            <a class="item"><h2>Partner ID :</h2></a>
            <a class="item"><h2>Name :</h2></a>
            <a class="item"><h2>Distributor Name :</h2></a>
            <a class="item"><h2>Mobile Number :</h2></a>
            <a class="item"><h2>Email Id :</h2></a>
            <a class="item"><h2>Address :</h2></a>
            <a class="item"><h2>Region :</h2></a>
            <a class="item"><h2>State :</h2></a>
            <a class="item"><h2>City :</h2></a>
        </div>

    </ion-content>
</ion-view>
