<ion-view view-title="Distributor">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        <div class="padding">
            <button ng-click="distributorProfile()" class="button button-block custom-dark1 ink">My profile</button>
            <button ng-click="distributorProductDetail()" class="button button-block custom-dark2 ink">Product Detail</button>
            <button ng-click="distributorOrder()" class="button button-block custom-dark3 ink">Order Detail</button>
            <button ng-click="distTarget()" class="button button-block custom-dark1 ink">Target Detail</button>
            <button ng-click="notification()" class="button button-block custom-dark2 ink">Notification</button>
            <button ng-click="brandStories()" class="button button-block custom-dark3 ink">Brand Stories</button>
            <button ng-click="feedbackQuery()" class="button button-block custom-dark1 ink">Feedback & Query</button>
            <button ng-click="changePassword()" class="button button-block custom-dark2 ink">Change Password</button>
           </div>
    </ion-content>
</ion-view>
