<ion-view view-title="Login" align-title="left">
    <ion-content class="">
        <div class="hero no-header flat">
            <div class="app-icon"></div>
            <div class="content"></div>
                <div class="row">
                    <div class="col col-30 font_color"><input type="radio" name="reading" value="feedback" ng-model="choose" /> Feedback</div>
                    <div class="col font_color"><input type="radio" name="reading" value="query" ng-model="choose" /> Query</div>
                </div>
        </div>
          <ng-form name="feedbackForm" ng-show="choose == 'feedback'">
                <div >
                  <div class="list list-inset">
                    <label class="item item-input item-floating-label">
                      <span class="input-label">Feedback Message</span>
                      <textarea type="text" placeholder="Message Text" name="message" ng-model="msgText"></textarea>
                    </label>
                  </div>
                    <button ng-disabled="feedbackForm.$invalid" class="button button-full custom-dark1 ink" ng-click="submit(message)">Submit</button>
                </div>
            <div ng-show="feedbackForm.$invalid">
              <p ng-show="feedbackForm.message.$error.required && feedbackForm.$dirty">Message is required</p>
            </div>
          </ng-form>
                <!--<div class="padding">z
                    <p ng-show="myForm.username.$error.required">* Username is required</p>
                    <p ng-show="myForm.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
                    <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
                    <p ng-show="myForm.password.$error.required">* Password is required</p>
                    <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
                </div>-->
          <ng-form name="queryForm" ng-show="choose == 'query'">
                <div >
                  <div class="list list-inset">
                    <label class="item item-input item-floating-label">
                      <span class="input-label">Query Message</span>
                      <textarea type="tel" placeholder="Message Text" name="message" ng-model="msgText"></textarea>
                    </label>
                  </div>
                    <button class="button button-full custom-dark1 ink" ng-click="submit()">Send</button>
                </div>
          </ng-form>

    </ion-content>
</ion-view>
