<ion-view view-title="Feedback Query" align-title="left">
    <ion-content class="">
        <div class="hero no-header flat">
            <div class="app-icon"></div>
            <div class="content"></div>
                <div class="row">
                    <div class="col col-30 font_color"><input type="radio" id="feedback" name="reading" value="feedback" ng-model="choose" />
                      <label for="feedback"> Feedback </label>
                    </div>
                    <div class="col font_color"><input type="radio" id="query" name="reading" value="query" ng-model="choose" />
                      <label for="query"> Query </label>
                    </div>
                </div>
        </div>
          <ng-form name="feedbackForm" ng-show="choose == 'feedback'">
                <div >
                  <div class="list list-inset" style=" border: none;">
                    <label class="item item-input item-stacked-label item-divider">
                      <textarea type="text" placeholder="Message Text" name="message" ng-model="msgText"></textarea>
                    </label>
                  </div>
                    <button ng-disabled="feedbackForm.$invalid" class="button button-full custom-dark1 ink" ng-click="submit(message)">Submit</button>
                </div>
            <div ng-show="feedbackForm.$invalid">
              <p ng-show="feedbackForm.message.$error.required && feedbackForm.$dirty">Message is required</p>
            </div>
          </ng-form>
          <ng-form name="queryForm" ng-show="choose == 'query'">
                      <label class="item-input margn_top"><input placeholder="Name" type="text" name="fname" ng-model="query.fname" required/></label>
                      <label class="item-input margn_top"><input placeholder="Mobile Number" type="tel" name="mobile" ng-model="query.mobile" required/></label>
                      <label class="item-input margn_top"><input placeholder="Email Id" type="email" name="email" ng-model="query.email" required/></label><br>
                    <button ng-disabled="queryForm.$invalid" class="button button-full custom-dark1 ink" ng-click="submit()">Send</button>
            <div style="text-align: center">
              <div ng-show="queryForm.$invalid">
                <p ng-show="queryForm.name.$error.required && queryForm.$dirty">Name required</p>
                <p ng-show="queryForm.mobile.$error.required && queryForm.$dirty">Mobile Number required</p>
                <p ng-show="queryForm.email.$error.required && queryForm.$dirty">Email required</p>
                </div>
              </div>
          </ng-form>

    </ion-content>
</ion-view>
