<ion-view view-title="Forgot Password">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>Forgot Password</p>
        </div>
        <!--<div class="row">
            <input type="radio" name="reading" value="0" id="reading_0" checked />
            <label for="reading_0">Very much</label>

            <input type="radio" name="reading" value="1" id="reading_1" />
            <label for="reading_1">Sometimes</label>
        </div>-->
        <div class="row">
            <div class="col col-30 font_color"><input type="radio" style="background-color: black" name="reading" value="distributor" ng-model="choose" checked /> Distributor</div>
            <div class="col font_color"><input type="radio" name="reading" value="retailer" ng-model="choose" /> Retailer</div>
        </div>
        <div ng-show="choose == 'distributor'">
        <div class="list">
            <label class="item-input margn_top1"><input placeholder="Mobile Number" type="text" value=""/></label>
           </div>
        </div>
        <button class="button button-block custom-dark3 ink" ng-click="submit()">Submit</button>
    </ion-content>
</ion-view>
