<ion-view view-title="Home" align-title="left">
    <ion-content class="home-back">
        <!--<div class="bar custom-dark">
        </div>-->
        <div class="hero no-header flat padding">
            <div class="app-icon" style="margin-top: 185px;"></div>
            <div class="content"></div>
        </div>
        <div class="padding_top">
            <button ng-click="homeLogin()" class="button button-block custom-dark1 ink">Login</button>
            <button ng-click="homeRegistration()" class="button button-block custom-dark2 ink">Registration</button>
            <!--<button ng-click="homeCustomerLogin()" class="button button-block custom-dark3 ink">Customers</button>-->
          </div>
    </ion-content>
</ion-view>
