<ion-view view-title="Login" align-title="left">
    <ion-content class="back_color1">
        <div class="hero no-header flat">
            <div class="app-icon padding"></div>
            <div class="content"></div>
                <!--<label class="item item-input item-select">
                    <div class="input-label">Login Type</div>
                    <select>
                        <option selected>Distributor</option>
                        <option> Retailer</option>
                        <option> Customer</option>
                        <option> Sales Manager_L1</option>
                        <option> Sales Manager_L2</option>
                        <option> Sales Manager_L3</option>
                    </select>
                </label>-->

             </div>

                <form name="loginForm">
                    <div class="list padding">
                      <label class="item-input margn_top1"><input type="text" placeholder="Mobile Number" name="mobile" ng-model="mobile" ng-minlength="10" ng-maxlength="10" required/></label>
                      <label class="item-input margn_top"><input type="password" placeholder="Password" name="password" ng-model="password"  required/></label>
                      <a ng-click="forgotPassword()" class="col text-right font_color" style="color: white">Forgot Password</a>
                      <button ng-disabled="loginForm.$invalid" class="button button-full custom-dark1 ink"  ng-click="login(login,loginForm)">Login</button>
                    </div>
                  <div style="text-align: center">
                  <div ng-show="loginForm.$invalid">
                    <p ng-show="loginForm.mobile.$error.required && loginForm.$dirty">Mobile Number required</p>
                    <p ng-show="loginForm.password.$error.required && loginForm.$dirty">Password required</p>
                  </div>
                    </div>
                </form>



    </ion-content>
</ion-view>
