<ion-view view-title="Notification">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-color: white">
      <h2 class="has-header">

      </h2>

    <ion-list ng-repeat="notification in notifications" class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-50"><h2>{{notification.NOTI_NAME}}</h2></div>
          <div class="col col-offset-10 col-50"><p>{{notification.ADD_DATE}}</p></div>
        </div>

        <img  class="item-image" ng-src="http://cdn.akc.org/akcdoglovers/LabradorRetriever_hero.jpg">
      <div class="item">
        <p class="">{{notification.NOTI_DESC}}</p>
      </div>
      </div>
      <!--<ion-item class="card" ng-repeat="notification in notifications">
        <h2 style="background-color: white">{{notification.ADD_DATE}}</h2>
        <div class="card card-gallery item item-text-wrap">
          <div class="ink dark-bg">
            <h2 style="background-color: #a2a2a2">{{notification.NOTI_NAME}}</h2>
            <img class="item-thumbnail-left" ng-src="{{notification.URL_URL}}">
          </div>
          <div class="item" style="background-color: #dddddd">
            <p class="">{{notification.NOTI_DESC}}</p>L
          </div>
        </div>
      </ion-item>-->
    </ion-list>

      <!--  <div class="tabs tabs-icon-top static">
            <p>Notification</p>
        </div>
        <div  class="card card-gallery item item-text-wrap">
            <div class="ink dark-bg">
                <h2>{{notifications.ADD_DATE}}</h2>
                <img class="full-image" src="img/4.jpg">
            </div>
            <div class="item" style="background-color: #dddddd">
                <p>Text TextTextTextText</p>
            </div>
        </div>
        <div class="card card-gallery item item-text-wrap">
            <div class="ink dark-bg">
                <h2>Hmm. Hope nobody destroys this!</h2>
                <img class="full-image" src="img/4.jpg">
            </div>
            <div class="item" style="background-color: #dddddd">
                <p>Text TextTextTextText</p>
            </div>
        </div>
        <div  class="card card-gallery item item-text-wrap">
            <div class="ink dark-bg">
                <h2>Hmm. Hope nobody destroys this!</h2>
                <img class="full-image" src="img/4.jpg">
            </div>
            <div class="item" style="background-color: #dddddd">
                <p>Text TextTextTextText</p>
            </div>
        </div>-->
    </ion-content>
</ion-view>
