<ion-view view-title="Varify OTP">
  <ion-content ng-class="{expanded:$scope.isExpanded}">

    <label ng-show="false"><p>OTP verification has been done successfully </p></label>
    <div class="list">
      <label class="item-input margn_top1"><input placeholder="OTP" ng-model="otp" type="text"/></label>
    </div>
    <button class="button button-block custom-dark3 ink" ng-click="verifyotp(otp)">verify OTP</button>
    <a ng-click="regenrate()" class="col text-right font_color" style="color: white">Regenrate OTP</a>

    <div style="text-align: center">
      <p>{{userOtp}}</p>
    </div>
  </ion-content>
</ion-view>
