<ion-view view-title="Product Detail">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>Product Detail</p>
        </div>
        <div class="list animate-fade-slide-in-right">
            <a class="item item-thumbnail-left">
                <img src="img/jon-snow.jpg">
                <h3>Product Name :</h3>
                <h3>MRP :</h3>
                <h3>List Price :</h3>
                <h3>Discount :</h3>
                <h3>SKU :</h3>
            </a>
            <a class="item item-thumbnail-left">
                <img src="img/jon-snow.jpg">
                <h3>Product Name :</h3>
                <h3>MRP :</h3>
                <h3>List Price :</h3>
                <h3>Discount :</h3>
                <h3>SKU :</h3>
            </a>
            <a class="item item-thumbnail-left">
                <img src="img/jon-snow.jpg">
                <h3>Product Name :</h3>
                <h3>MRP :</h3>
                <h3>List Price :</h3>
                <h3>Discount :</h3>
                <h3>SKU :</h3>
            </a>
        </div>
    </ion-content>
</ion-view>
