<ion-view view-title="SignUp">
  <ion-content ng-class="{expanded:isExpanded}" class="back_color1">
    <div class="hero no-header flat">
      <div class="app-icon"></div>
      <div class="list padding">
        <div class="row">
          <!--<div class="col col-20"></div>-->
          <div class="col col-30 font_color"><input type="radio" name="roleid" id="cust" value='5' ng-model="customer.roleid" ng-change="toggle(customer.roleid)" />
            <label for="cust"> Customer </label>
          </div>
          <div class="col font_color"><input type="radio" id="retail" name="roleid" value='4' ng-model="retailer.roleid" ng-change="toggle(retailer.roleid)" />
            <label for="retail"> Retailer </label>
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item " ng-show="regsuccess" style="background-color: green"><h2 class="text-center">Registration Successful</h2></div>
      </div>
    </div>
      <ng-form name="customerRegForm" ng-show="customershow">
        <div class="list padding">
          <label class="item-input margn_top"><input placeholder="Mobile Number" name="mobile" type="text" ng-model="customer.mobile" required/></label>
          <label class="item-input margn_top"><input placeholder="User Name" type="text" name="fname" ng-model="customer.fname" required/></label><br>
          <button ng-disabled="customerRegForm.$invalid" class="button button-full custom-dark1 ink"  ng-click="customerRegistration(customer,customerRegForm)">Submit</button>
        </div>
        <div style="text-align: center">
        <div ng-show="customerRegForm.$invalid">
          <p ng-show="customerRegForm.mobileNumber.$error.required && customerRegForm.$dirty">Mobile Number required</p>
          <p ng-show="customerRegForm.userName.$error.required && customerRegForm.$dirty">Password required</p>
        </div>
        </div>
      </ng-form>
      <ng-form name="retailerRegForm" ng-show="retailershow">
          <div class="list padding">
            <label class="item item-input item-select">
              <div class="input-label">Select Region</div>
              <select name="region" ng-model="retailer.region" ng-change="changedresion(retailer.region)">
              <option value="{{region.REGION_PK_ID}}"  ng-repeat="region in regions" >{{region.REGION_NAME}}</option>

              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Select State</div>
              <select name="state" ng-model="retailer.state"  ng-change="changedstate(retailer.state)">
              <option  value="{{state.STATE_PK_ID}}" ng-repeat="state in states">{{state.STATE_NAME}}</option>
              </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Select City</div>
              <select name="city" ng-model="retailer.city"   ng-change="changedcity(retailer.city)">
              <option value="{{city.CITY_PK_ID}}" ng-repeat="city in cities">{{city.CITY_NAME}}</option>

              </select>
            </label>
            <!--<label class="item item-input item-select">
              <div class="input-label">Select Firm Name</div>
              <select name="firmName" ng-model="retailer.firmName" required/>
              <option>A</option>
              <option selected>B</option>
              <option>C</option>
              </select>
            </label>-->
            <label class="item item-input item-select">
              <div class="input-label">Distributor</div>
              <select name="distributor" ng-model="retailer.distributor" required ng-change="changeddist(retailer.distributor)">
              <option ng-repeat="distibuter in distributers" value="{{distibuter.DET_MEMBER_PK_ID}}">{{distibuter.FIRST_NAME}}</option>

              </select>
            </label>
            <!--<label class="item-input margn_top"><input placeholder="Region" type="text" name="region" ng-model="retailer.region" required/></label>
            <label class="item-input margn_top"><input placeholder="State" type="text" name="state" ng-model="retailer.state" required/></label>
            <label class="item-input margn_top"><input placeholder="City" type="text" name="city" ng-model="retailer.city" required/></label>
            <label class="item-input margn_top"><input placeholder="Firm Name" type="text" name="firmName" ng-model="retailer.firmName" required/></label>-->
           <input value='4' name="roleid" ng-model="retailer.roleid" ng-show="false">
            <label class="item-input margn_top"><input placeholder="Firm Name" type="text" name="firmname" ng-model="retailer.firmname" required/></label>
            <label class="item-input margn_top"><input placeholder="Retailer Name" type="text" name="fname" ng-model="retailer.fname" required/></label>
            <label class="item-input margn_top"><input placeholder="Mobile Number" type="tel" name="mobile" ng-model="retailer.mobile" required/></label>
            <label class="item-input margn_top"><input placeholder="Email Id" type="email" name="email" ng-model="retailer.email" required/></label>
            <label class="item-input margn_top"><input placeholder="Date of Birth"  type="date" name="dob" ng-model="retailer.dob" required/></label><br>
            <div>
              <button ng-disabled="retailerRegForm.$invalid" class="button button-full custom-dark1 ink"  ng-click="retailerRegistration(retailer,retailerRegForm)">Submit</button>
              <button class="button button-full custom-dark1 ink"  ng-click="retailerRegistration(retailer,retailerRegForm)">Submit</button>
            </div>
            <br>
          </div>
        <div style="text-align: center">
          <div ng-show="retailerRegForm.$invalid">
            <p ng-show="retailerRegForm.name.$error.required && retailerRegForm.$dirty">Name required</p>
            <p ng-show="retailerRegForm.mobile.$error.required && retailerRegForm.$dirty">Mobile Number required</p>
            <p ng-show="retailerRegForm.email.$error.required && retailerRegForm.$dirty">Email required</p>
            <p ng-show="retailerRegForm.email.$valid">Not valid email!</p>
            <p ng-show="retailerRegForm.dob.$error.required && retailerRegForm.$dirty">Date Of Birth Number required</p>
            <p ng-show="retailerRegForm.fname.$error.required && retailerRegForm.$dirty">Retailer Name Number required</p>
            <p ng-show="retailerRegForm.firmname.$error.required && retailerRegForm.$dirty">Firm Name required</p>
            <p ng-show="retailerRegForm.city.$error.required && retailerRegForm.$dirty">City required</p>
            <!--<p ng-show="retailerRegForm.depot.$error.required && retailerRegForm.$dirty">Depot required</p>-->
            <p ng-show="retailerRegForm.state.$error.required && retailerRegForm.$dirty">State required</p>
            <p ng-show="retailerRegForm.region.$error.required && retailerRegForm.$dirty">Region required</p>
            <p ng-show="retailerRegForm.distributor.$error.required && retailerRegForm.$dirty">Distributor required</p>
          </div>
        </div>
      </ng-form>
  </ion-content>
</ion-view>
