<ion-view view-title="Reset Password">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        <div class="hero no-header flat padding">
            <div class="app-icon"></div>
            <div class="content"></div>
            <div class="list">
                <!--<label class="item-input margn_top"><input placeholder="Enter OTP" highlight-color="balanced" type="text" ng-model="data.opt"></label>-->
              <label class="item-input margn_top"><input placeholder="Old Password" highlight-color="balanced" type="password" ng-model="data.opt"></label>
                <label class="item-input margn_top"><input placeholder="New Password" highlight-color="balanced" type="password" ng-model="data.password"></label>
                <label class="item-input margn_top"><input placeholder="Confirm Password" highlight-color="balanced" type="password" ng-model="data.conPassword"></label>
            </div>
            <button ui-sref="app.login" class="button button-full custom-dark3 ink">Submit</button>
        </div>
    </ion-content>
</ion-view>
