<ion-view view-title="Retailer Home">
    <ion-content>
        <div class="padding">
            <button ng-click="retailerProfile()" class="button button-block custom-dark1 ink">My Profile</button>
            <button ng-click="retailerProductDetail()" class="button button-block custom-dark2 ink">Product Detail</button>
            <button ng-click="retailerOrder()" class="button button-block custom-dark3 ink">Order Detail</button>
            <button ng-click="notification()" class="button button-block custom-dark1 ink">Notification</button>
            <button ng-click="brandStories()" class="button button-block custom-dark2 ink">Brand Stories</button>
            <button ng-click="feedbackQuery()" class="button button-block custom-dark3 ink">Feedback & Query</button>
            <button ng-click="changePassword()" class="button button-block custom-dark1 ink">Change Password</button>
        </div>
    </ion-content>
</ion-view>
