<ion-view view-title="Retailer Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>My Profile Name</p>
        </div>
        <div class="list">
            <a class="item"><h2>Partner ID :</h2></a>
            <a class="item"><h2>Name :</h2></a>
            <a class="item"><h2>Retailer Name :</h2></a>
            <a class="item"><h2>Mobile Number :</h2></a>
            <a class="item"><h2>Email Id :</h2></a>
            <a class="item"><h2>Address :</h2></a>
            <a class="item"><h2>Region :</h2></a>
            <a class="item"><h2>State :</h2></a>
            <a class="item"><h2>City :</h2></a>
            <a class="item"><h2>Sales Person Name :</h2></a>
        </div>
    </ion-content>
</ion-view>
