<ion-view view-title="Retailer Registration">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        <!--<div class="hero no-header flat">
            <div class="app-icon"></div>
            <div class="content"></div>
            <div class="list padding">
                <label class="item-input margn_top"><input placeholder="Name" type="text" ng-model="data.name" value=""/></label>
                <label class="item-input margn_top"><input placeholder="R Name" type="password" ng-model="data.rName" value=""/></label>
                <label class="item-input margn_top"><input placeholder="Mobile Number" type="text" ng-model="data.mobile" value=""/></label>
                <label class="item-input margn_top"><input placeholder="Email Id" type="password" ng-model="data.email" value=""/></label>
                <label class="item-input margn_top"><input placeholder="Region" type="text" ng-model="data.region" value=""/></label>
                <label class="item-input margn_top"><input placeholder="State" type="password" ng-model="data.state" value=""/></label>
                <label class="item-input margn_top"><input placeholder="City" type="text" ng-model="data.city" value=""/></label>
            </div>
            <button ui-sref="app.login" class="button button-block custom-dark1 ink">Registration</button>
        </div>
-->

       <!-- <div ng-controller="ExampleController">
            <div class="hero no-header flat">
            <form name="myForm">
                <label for="singleSelect"> Single select with "not selected" option and dynamic option values: </label><br>
                <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
                    <option value="" selected>-&#45;&#45;Please select-&#45;&#45;</option> &lt;!&ndash; not selected / blank option &ndash;&gt;
                    <option value="{{data.option1}}">Option 1</option> &lt;!&ndash; interpolation &ndash;&gt;
                    <option value="option-2">Option 2</option>
                </select><br>
                <tt>singleSelect = {{data.singleSelect}}</tt>
            </form>
        </div></div>-->

        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Lightsaber
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>

        </div>
    </ion-content>
</ion-view>