<!--<ion-view view-title="Target">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>Target/OS/P</p>
        </div>
        <div ng-controller="RadioCtrl" class="bar-subheader">
            <div class="button-bar">
                <a class="button" ng-class="{'button-positive': isActive('breakfast')}" ng-click="setActive('breakfast')">Breakfast</a>
                <a class="button" ng-class="{'button-positive': isActive('lunch')}" ng-click="setActive('lunch')">Lunch</a>
                <a class="button" ng-class="{'button-positive': isActive('dinner')}" ng-click="setActive('dinner')">Dinner</a>
            </div>
        </div>
        <div class="list">
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">Target :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">achieved :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">Outstanding :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                 <div class="col">Pending :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">Claim Detail :</div>
            </div>
        </div>
    </ion-content>
</ion-view>-->
<ion-view view-title="Target Details">
  <ion-content ng-class="{expanded:$scope.isExpanded}" class="back_color1">
    <div class="tabs tabs-icon-top static">
      <p>Distributor Target Details</p>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">Quarterly Months</div>
      <select ng-model="product">
        <option selected value="q1">Q1</option>
        <option value="q2" >Q2</option>
        <option value="q3">Q3</option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">Made Of Target</div>
      <select ng-model="product">
        <option selected value="A">A</option>
        <option value="B" >B</option>
        <option>C</option>
      </select>
    </label>
    <div ng-controller="CreateDistOrderCtrl as ctrl">
      <div class="row header col-box">
        <div class="col">Target</div>
        <div class="col">Eligible Slab</div>
        <div class="col">Actual Achievement</div>
        <div class="col">Pending Target Qty.</div>
        <div class="col">Achieved Incentive Amt.</div>
      </div>
      <div class="row" ng-repeat="data in ctrl.data">
        <div class="col">{{data.name}}</div>
        <div class="col">{{data.name}}</div>
        <div class="col">{{data.name}}</div>
        <div class="col">{{data.name}}</div>
        <div class="col">{{data.name}}</div>
        <!--<div class="col"><button class="button-small" ng-click="ctrl.add($index)">Remove</button></div>-->
        <!--<div class="col">
          <a><i class="icon ion-close-circled"></i></a>
        </div>-->
      </div>
      <hr>
    </div>
    <!--<div class="row">
      <div class="col col-33"></div>
      &lt;!&ndash; <div class="col"></div>
       <div class="col"></div>
       <div class="col"></div>&ndash;&gt;
      <div class="col">
        <button class="button button-small custom-dark1">Create</button>
      </div>
      &lt;!&ndash;<a class="item card item-thumbnail-left">
          &lt;!&ndash;<img src="img/1.jpg">&ndash;&gt;
          &lt;!&ndash;<h3>Product Name :</h3>&ndash;&gt;
          <h3>MRP :</h3>
          <h3>List Price :</h3>
          <h3>Discount :</h3>
          <h3>SKU :</h3>
      </a>&ndash;&gt;&lt;!&ndash;
            <a class="item card item-thumbnail-left">
                <img src="img/1.jpg">
                <h3>Product Name :</h3>
                <h3>MRP :</h3>
                <h3>List Price :</h3>
                <h3>Discount :</h3>
                <h3>SKU :</h3>
            </a>
            <a class="item card item-thumbnail-left">
                <img src="img/1.jpg">
                <h3>Product Name :</h3>
                <h3>MRP :</h3>
                <h3>List Price :</h3>
                <h3>Discount :</h3>
                <h3>SKU :</h3>
            </a>&ndash;&gt;
    </div>-->
  </ion-content>
</ion-view>
