<ion-view view-title="Target">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>Target/OS/P</p>
        </div>
        <div ng-controller="RadioCtrl" class="bar-subheader">
            <div class="button-bar">
                <a class="button" ng-class="{'button-positive': isActive('breakfast')}" ng-click="setActive('breakfast')">Breakfast</a>
                <a class="button" ng-class="{'button-positive': isActive('lunch')}" ng-click="setActive('lunch')">Lunch</a>
                <a class="button" ng-class="{'button-positive': isActive('dinner')}" ng-click="setActive('dinner')">Dinner</a>
            </div>
        </div>
        <div class="list">
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">Target :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">achieved :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">Outstanding :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                 <div class="col">Pending :</div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col">Claim Detail :</div>
            </div>
        </div>
    </ion-content>
</ion-view>
